body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2em;
  color: $text-color;
  margin: 0;
}

.wrapper {
  width: $wrapper-width;
  margin: auto;
}

h2.section--title {
  color: $primary-color;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0 0 4em;
}

h3 {
  color: $header-color;
  font-size: 1.5em;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.page-section {
  padding: 100px 0;
  &:nth-child(odd) {
    background: $odd-background-color;
  }
}

.button {
  color: $white;
  background-color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: none;
}

.button-large {
  font-size: 14px;
  line-height: 42px;
  height: 42px;
  width: 200px;
  border-radius: 10px;
}

.button-small {
  font-size: 12px;
  border-radius: 6px;
  line-height: 32px;
  height: 32px;
  width: 160px;
}
