body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2em;
  color: $text-color;
  margin: 0;
}

.wrapper {
  width: $wrapper-width;
  margin: auto;
}

h2.section--title {
  color: $primary-color;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0 0 4em;
}

h3 {
  color: $header-color;
  font-size: 1.5em;
}

p{
  color: $text-color;
  font-size: 0.9em;
  line-height: 1.6em;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.page-section {
  padding: 100px 0;
  &:nth-child(odd) {
    background: $odd-background-color;
  }
}

.button {
  color: $white;
  background-color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: none;
}

.button-large {
  font-size: 0.875em;
  line-height: 42px;
  height: 42px;
  width: 200px;
  border-radius: 10px;
}

.button-small {
  font-size: 0.75em;
  border-radius: 6px;
  line-height: 32px;
  height: 32px;
  width: 160px;
}

// Grid 12

/***

  Przedstawiony poniżej system siatki opiera się na display: inline-block
  jest to poprawne rozwiązanie jednak wiąże się z pewną słabością
  przeglądarki gdy napotykają tą właściwością nie ignorują białych znaków
  w efekcie nieuzyskamy porządanego efaktu.
  Problem możemy rozwiązać przez zmniejszenie wielkości fontu rodzica do zera
  niemożemy jednak zapommnieć o przywróceniu domyślnego rozmiaru, stąd 1rem.

***/

.row {
  font-size: 0;
}

.col {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

.col-1 {
  @extend .col;
  width: 8.33%;
}

.col-2 {
  @extend .col;
  width: 16.66%;
}

.col-3 {
  @extend .col;
  width: 25%;
}

.col-4 {
  @extend .col;
  width: 33.33%;
}

.col-5 {
  @extend .col;
  width: 41.66%;
}

.col-6 {
  @extend .col;
  width: 50%;
}

.col-7 {
  @extend .col;
  width: 58.33%;
}

.col-8 {
  @extend .col;
  width: 66.66%;
}

.col-9 {
  @extend .col;
  width: 75%;
}

.col-10 {
  @extend .col;
  width: 83.33%;
}

.col-11 {
  @extend .col;
  width: 91.66%;
}

.col-12 {
  @extend .col;
  width: 100%;
}

