#contact {
  .contact--paragraph {
    max-width: 20em;
  }

  address {
    font-size: .9em;
    margin: 1em 0;
    font-style: normal;
  }

  form {
    margin: 30px 0;
  }

  input[type=text], input[type=email], textarea {
    color: $text-color;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    border: none;
    border-bottom: 3px solid #ebebeb;
    padding: 8px 4px;
    outline: none;

    &:focus {
      border-bottom-color: $primary-color;
    }
  }

  .button {
    margin: 24px 0 0;
    float: right;
  }
}
