#footer {
  background: $odd-background-color;
  padding: 45px 0 80px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #888;

  .social-footer {
    margin-bottom: 10px;
    a {
      font-size: 24px;
      color: $header-color;
      padding: 5px; // [accessibility] żeby łatwiej było kliknąć na dotykowym ekranie
      margin: 0 8px;
      transition: all .2s ease;

      &:hover, &:focus {
        color: #111;
      }
    }
  }

  strong {
    color: $header-color;
    text-transform: uppercase;
  }
}
