#welcome {
  height: 100vh;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-position: center;
  color: $white;

  .navbar {
    width: $navbar-width;
    margin: 0 auto;
    padding: 50px 0;
  }

  h1.logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;

    .firstname {
      font-weight: bold;
    }

    .lastname {
      font-weight: 400;
      color: $primary-color;
    }
  }

  nav.navigation-main {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1;
    float: right;

    a {
      margin-left: 75px;
      color: $white;
    }

    a.active {
      color: $primary-color;
    }
  }

  h2.section--title {
    margin: 60px 0;
    text-align: left;
  }

  .title {
    font-size: 60px;
  }

  .description {
    margin-bottom: 36px;
  }
}
