body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2em;
  color: #5b5b5b;
  margin: 0; }

.wrapper {
  width: 610px;
  margin: auto; }

h2.section--title {
  color: #e0a824;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0 0 4em; }

h3 {
  color: #434343;
  font-size: 1.5em; }

p {
  color: #5b5b5b;
  font-size: 0.9em;
  line-height: 1.6em; }

a {
  color: #e0a824;
  text-decoration: none; }

.page-section {
  padding: 100px 0; }
  .page-section:nth-child(odd) {
    background: #f4f4f4; }

.button {
  color: #fff;
  background-color: #e0a824;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: none; }

.button-large {
  font-size: 0.875em;
  line-height: 42px;
  height: 42px;
  width: 200px;
  border-radius: 10px; }

.button-small {
  font-size: 0.75em;
  border-radius: 6px;
  line-height: 32px;
  height: 32px;
  width: 160px; }

#welcome {
  height: 100vh;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  color: #fff; }
  #welcome .navbar {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0; }
  #welcome h1.logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.125em;
    display: inline-block; }
    #welcome h1.logo .firstname {
      font-weight: bold; }
    #welcome h1.logo .lastname {
      font-weight: 400;
      color: #e0a824; }
  #welcome nav.navigation-main {
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1;
    float: right; }
    #welcome nav.navigation-main a {
      margin-left: 75px;
      color: #fff; }
    #welcome nav.navigation-main a.active {
      color: #e0a824; }
  #welcome h2.section--title {
    margin: 60px 0;
    text-align: left; }
  #welcome .title {
    font-size: 3.75em; }
  #welcome .description {
    margin-bottom: 36px; }

[id="about"] .description {
  width: 60%;
  display: inline-block; }

[id="about"] .photo-profile {
  border-radius: 50%;
  width: 150px;
  box-shadow: 0 8px 1em #5b5b5b;
  margin: 40px 0 0 40px;
  vertical-align: top; }

[id="about"] .social-main {
  width: 610px;
  text-align: center;
  font-size: 2em;
  margin: 20px auto; }
  [id="about"] .social-main a {
    padding: 5px;
    color: #434343;
    transition: color .3s ease-in; }
    [id="about"] .social-main a:hover, [id="about"] .social-main a:focus {
      color: #e0a824; }

#footer {
  background: #f4f4f4;
  padding: 45px 0 80px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #888; }
  #footer .social-footer {
    margin-bottom: 10px; }
    #footer .social-footer a {
      font-size: 24px;
      color: #434343;
      padding: 5px;
      margin: 0 8px;
      transition: all .2s ease; }
      #footer .social-footer a:hover, #footer .social-footer a:focus {
        color: #111; }
  #footer strong {
    color: #434343;
    text-transform: uppercase; }
