@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2em;
  color: #5b5b5b;
  margin: 0; }

.wrapper {
  width: 610px;
  margin: auto; }

h2.section--title {
  color: #e0a824;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0 0 4em; }

h3 {
  color: #434343;
  font-size: 1.5em; }

p {
  color: #5b5b5b;
  font-size: 0.9em;
  line-height: 1.6em; }

a {
  color: #e0a824;
  text-decoration: none; }

.page-section {
  padding: 100px 0; }
  .page-section:nth-child(odd) {
    background: #f4f4f4; }

.button {
  font-family: inherit;
  color: #fff;
  background-color: #e0a824;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: none; }

.button-large {
  font-size: 0.875em;
  line-height: 42px;
  height: 42px;
  width: 200px;
  border-radius: 10px; }

.button-small {
  font-size: 0.75em;
  border-radius: 6px;
  line-height: 32px;
  height: 32px;
  width: 160px; }

/***

  Przedstawiony poniżej system siatki opiera się na display: inline-block
  jest to poprawne rozwiązanie jednak wiąże się z pewną słabością
  przeglądarki gdy napotykają tą właściwością nie ignorują białych znaków
  w efekcie nieuzyskamy porządanego efaktu.
  Problem możemy rozwiązać przez zmniejszenie wielkości fontu rodzica do zera
  niemożemy jednak zapommnieć o przywróceniu domyślnego rozmiaru, stąd 1rem.

***/
.row {
  font-size: 0; }

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

#welcome {
  height: 100vh;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  color: #fff; }
  #welcome .navbar {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0; }
  #welcome h1.logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.125em;
    display: inline-block; }
    #welcome h1.logo .firstname {
      font-weight: bold; }
    #welcome h1.logo .lastname {
      font-weight: 400;
      color: #e0a824; }
  #welcome nav.navigation-main {
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1;
    float: right; }
    #welcome nav.navigation-main a {
      margin-left: 75px;
      color: #fff; }
    #welcome nav.navigation-main a.active {
      color: #e0a824; }
  #welcome h2.section--title {
    margin: 60px 0;
    text-align: left; }
  #welcome .title {
    font-size: 3.75em; }
  #welcome .description {
    margin-bottom: 36px; }

[id="about"] .description {
  width: 60%;
  display: inline-block; }

[id="about"] .photo-profile {
  border-radius: 50%;
  width: 150px;
  box-shadow: 0 8px 1em #5b5b5b;
  margin: 40px 0 0 40px;
  vertical-align: top; }

[id="about"] .social-main {
  width: 610px;
  text-align: center;
  font-size: 2em;
  margin: 20px auto; }
  [id="about"] .social-main a {
    padding: 5px;
    color: #434343;
    transition: color .3s ease-in; }
    [id="about"] .social-main a:hover, [id="about"] .social-main a:focus {
      color: #e0a824; }

[id="portfolio"] .image-project {
  max-width: 100%; }

[id="portfolio"] .slider > div > div {
  padding: 0 10px 0 0;
  box-sizing: border-box; }

[id="portfolio"] .placeholder {
  box-sizing: border-box;
  padding: 10px; }
  [id="portfolio"] .placeholder:after {
    background-color: silver;
    height: 100px;
    display: block;
    content: " "; }

#contact .contact--paragraph {
  max-width: 20em; }

#contact address {
  font-size: .9em;
  margin: 1em 0;
  font-style: normal; }

#contact form {
  margin: 30px 0; }

#contact input[type=text], #contact input[type=email], #contact textarea {
  color: #5b5b5b;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  border: none;
  border-bottom: 3px solid #ebebeb;
  padding: 8px 4px;
  outline: none; }
  #contact input[type=text]:focus, #contact input[type=email]:focus, #contact textarea:focus {
    border-bottom-color: #e0a824; }

#contact .button {
  margin: 24px 0 0;
  float: right; }

#footer {
  background: #f4f4f4;
  padding: 45px 0 80px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #888; }
  #footer .social-footer {
    margin-bottom: 10px; }
    #footer .social-footer a {
      font-size: 24px;
      color: #434343;
      padding: 5px;
      margin: 0 8px;
      transition: all .2s ease; }
      #footer .social-footer a:hover, #footer .social-footer a:focus {
        color: #111; }
  #footer strong {
    color: #434343;
    text-transform: uppercase; }
