body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2em;
  color: #5b5b5b;
  margin: 0; }

.wrapper {
  width: 610px;
  margin: auto; }

h2.section--title {
  color: #e0a824;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0 0 4em; }

h3 {
  color: #434343;
  font-size: 1.5em; }

a {
  color: #e0a824;
  text-decoration: none; }

.page-section {
  padding: 100px 0; }
  .page-section:nth-child(odd) {
    background: #f4f4f4; }

#footer {
  background: #f4f4f4;
  padding: 45px 0 80px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #888; }
  #footer .social-footer {
    margin-bottom: 10px; }
    #footer .social-footer a {
      font-size: 24px;
      color: #434343;
      padding: 5px;
      margin: 0 8px;
      transition: all .2s ease; }
      #footer .social-footer a:hover, #footer .social-footer a:focus {
        color: #111; }
  #footer strong {
    color: #434343;
    text-transform: uppercase; }
